#container {
  position: absolute;
  width: 145vw;
  height: 145vh;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    position: absolute;
    transform: scale(0.1);
    border-radius: 100%;
    z-index: -1;
    
    mix-blend-mode: screen;
    background-blend-mode: screen;
  }
}