doctype html
html
  head
    title — hypnotizing
    link(rel='stylesheet' href='styles/main.css')

  body.pause
    //- .main.inactive.spotify-search
    //-   .bg-main
    //-     section.search
    //-       .search-box
    //-         //- .introduction-text
    //-         //- h1 Search over 200 million songs.
    //-         //- p Know what you want to listen to? Just search and hit play.
    //-         //- .cancel
    //-         form.search-form
    //-           .query-box
    //-             input.query-input(type='text', autocomplete='off', name='search', placeholder='type something here')
    //-             #results

    //- Hi
    #container
    h1#loaded This is a visualizer<br> #[em — click anywhere —]
    h2#loading.on ~ just a second ~

    //- audio(preload)#audio
      //- source(src='../audio/song01.mp3')
      //- source(src='https://api.soundcloud.com/tracks/311734519/stream?client_id=eab076c133468510a6efbe8ca1390e96')


  script(src='scripts/vendor/TweenMax.min.js')
  script(src='scripts/vendor/CustomEase.min.js')
  script(src='scripts/vendor/soundcloud-sdk-3.1.2.js')
  script(src='scripts/main.js')
