doctype html
html
  head
    title Visualizer
    link(rel='stylesheet' href='styles/main.css')

  body

    //- Hi
    h1#container Hello. <br> This is a visualizer.

  //- script(src='scripts/vendor/jquery-3.1.1.min.js')
  script(src='scripts/vendor/p5.min.js')
  script(src='scripts/vendor/p5.sound.min.js')
  script(src='scripts/vendor/TweenMax.min.js')
  script(src='scripts/main.js')
