doctype html
html
  head
    title Visualizer
    link(rel='stylesheet' href='styles/main.css')

  body

    //- Hi
    #container
    h1 Hello. <br> This is a visualizer. <br> #[em — hold click —]

  //- script(src='scripts/vendor/jquery-3.1.1.min.js')
  script(src='scripts/vendor/p5.min.js')
  script(src='scripts/vendor/p5.sound.min.js')
  script(src='scripts/vendor/TweenMax.min.js')
  script(src='scripts/main.js')
