doctype html
html
  head
    title Visualizer
    link(rel='stylesheet' href='styles/main.css')

  body

    //- Hi
    h1 Hi

  script(src='scripts/vendor/jquery-3.1.1.min.js')
  script(src='scripts/main.js')
