doctype html
html
  head
    meta(charset='UTF-8')
    title — hypnotizing
    link(rel='stylesheet' href='css/main.min.css')

  body.pause

    //- Container
    #container
    canvas#canvas
    //-   This text is displayed if your browser does not support HTML5 Canvas.

    //- Hi
    //- h1#loaded This is a visualizer<br> #[em — click anywhere —]
    //- #loading.on ~ just a second ~
    
    //- Pick a song
    ul.songs-list
      li.song#first one—
      li.song#second two—

    //- JS
    script(src='js/main.min.js')
