doctype html
html
  head
    meta(charset='UTF-8')
    title — hypnotizing
    link(rel='stylesheet' href='css/main.min.css')

  body.pause

    //- Hi
    #container
    //- h1#loaded This is a visualizer<br> #[em — click anywhere —]
    //- h2#loading.on ~ just a second ~
    
    //- Pick a song
    ul.songs-list
      li.song#first one—
      li.song#second two—


  //- script(src='scripts/vendor/TweenMax.min.js')
  //- script(src='scripts/vendor/CustomEase.min.js')
  //- script(src='scripts/vendor/soundcloud-sdk-3.1.2.js')
  script(src='js/main.min.js')
