html, body {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
    text-align: center;
    color: white;

    em {
      font-family: serif;
      text-transform: lowercase;
      font-weight: lighter;
      font-style: italic;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
}

@keyframes teste {
  50% {
    width: 80vw;
    height: 80vh;
  }
}

#container {
  // background: rgba(255,255,255,.1);
  position: absolute;
  width: 100vw;
  height: 100vh;
  // width: 5vw;
  // height: 5vh;
  // animation: teste 3s ease-out infinite;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    // background: #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.1);
    // width: 20px;
    // height: 20px;
    border-radius: 100%;
    z-index: -1;
    mix-blend-mode: screen;
  }
}

#p5_loading {
  pointer-events: none;
  text-indent: -9999999px;
  opacity: 0;
}
