body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
}
